# CONTENT

[1](#1) Импорты и загрузка данных <br>
[2](#2) Первоначальное знакомство с данными <br>
[3](#3) Изучение разделенных данных <br>
[3.1](#3.1) Изучение данных о потребителях <br>

[LINKS](#LINKS)

# 1 
[CONTENT](#CONTENT)<br>

# Импорты и загрузка данных

In [37]:
from warnings import filterwarnings

import gc # для освобождения памяти путем принудительно вызова garbage collector

import pandas as pd


pd.set_option('display.max_columns', None)
filterwarnings('ignore')

In [38]:
df = pd.read_csv('../data/retail_data.csv.zip')
df.head(2)

,customer_id,age,gender,income_bracket,loyalty_program,membership_years,churned,marital_status,number_of_children,education_level,occupation,transaction_id,transaction_date,product_id,product_category,quantity,unit_price,discount_applied,payment_method,store_location,transaction_hour,day_of_week,week_of_year,month_of_year,avg_purchase_value,purchase_frequency,last_purchase_date,avg_discount_used,preferred_store,online_purchases,in_store_purchases,avg_items_per_transaction,avg_transaction_value,total_returned_items,total_returned_value,total_sales,total_transactions,total_items_purchased,total_discounts_received,avg_spent_per_category,max_single_purchase_value,min_single_purchase_value,product_name,product_brand,product_rating,product_review_count,product_stock,product_return_rate,product_size,product_weight,product_color,product_material,product_manufacture_date,product_expiry_date,product_shelf_life,promotion_id,promotion_type,promotion_start_date,promotion_end_date,promotion_effectiveness,promotion_channel,promotion_target_audience,customer_zip_code,customer_city,customer_state,store_zip_code,store_city,store_state,distance_to_store,holiday_season,season,weekend,customer_support_calls,email_subscriptions,app_usage,website_visits,social_media_engagement,days_since_last_purchase
0,1,56,Other,High,No,0,No,Divorced,3,Bachelor's,Self-Employed,503290,2020-10-11 10:08:52,1480,Electronics,8,49.72,0.50,Credit Card,Location A,18,Wednesday,27,7,411.13,Weekly,2021-09-11 04:22:38,0.02,Location A,55,86,8.64,171.83,0,750.4,563.16,69,367,415.01,114.28,679.25,0.28,Product D,Brand Y,2.5,560,48,0.4,Small,4.61,Red,Metal,2019-08-04 01:47:01,2022-05-28 14:54:02,250,271,20% Off,2021-07-14 14:28:42,2022-12-30 13:04:13,High,Online,New Customers,37848,City D,State Y,88500,City D,State Y,33.21,No,Spring,Yes,5,No,High,30,High,40
1,2,69,Female,Medium,No,2,No,Married,2,PhD,Unemployed,347796,2021-12-08 01:07:40,1597,Groceries,7,817.76,0.32,Credit Card,Location C,15,Friday,20,2,268.71,Daily,2021-05-16 12:01:16,0.33,Location C,48,2,9.60,20.18,4,551.6,7554.57,8,475,801.79,305.95,491.56,4.65,Product C,Brand X,4.7,413,80,0.3,Medium,0.84,Blue,Metal,2019-10-23 19:59:17,2022-12-19 08:04:41,180,631,Flash Sale,2021-09-23 04:26:09,2022-09-13 03:16:26,Low,Social Media,New Customers,44896,City A,State X,30046,City C,State X,62.56,No,Summer,Yes,6,No,High,40,Medium,338

# 2

[CONTENT](#CONTENT)<br>

# Первоначальное знакомство с данными

##### Посмотрим общую информацию о данных

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 78 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   customer_id                1000000 non-null  int64
 1   age                        1000000 non-null  int64
 2   gender                     1000000 non-null  object
 3   income_bracket             1000000 non-null  object
 4   loyalty_program            1000000 non-null  object
 5   membership_years           1000000 non-null  int64
 6   churned                    1000000 non-null  object
 7   marital_status             1000000 non-null  object
 8   number_of_children         1000000 non-null  int64
 9   education_level            1000000 non-null  object
 10  occupation                 1000000 non-null  object
 11  transaction_id             1000000 non-null  int64
 12  transaction_date           1000000 non-null  object
 13  product_id                 1000000 non-null  int64
 14  product_category           1000000 non-null  object
 15  quantity                   1000000 non-null  int64
 16  unit_price                 1000000 non-null  float64
 17  discount_applied           1000000 non-null  float64
 18  payment_method             1000000 non-null  object
 19  store_location             1000000 non-null  object
 20  transaction_hour           1000000 non-null  int64
 21  day_of_week                1000000 non-null  object
 22  week_of_year               1000000 non-null  int64
 23  month_of_year              1000000 non-null  int64
 24  avg_purchase_value         1000000 non-null  float64
 25  purchase_frequency         1000000 non-null  object
 26  last_purchase_date         1000000 non-null  object
 27  avg_discount_used          1000000 non-null  float64
 28  preferred_store            1000000 non-null  object
 29  online_purchases           1000000 non-null  int64
 30  in_store_purchases         1000000 non-null  int64
 31  avg_items_per_transaction  1000000 non-null  float64
 32  avg_transaction_value      1000000 non-null  float64
 33  total_returned_items       1000000 non-null  int64
 34  total_returned_value       1000000 non-null  float64
 35  total_sales                1000000 non-null  float64
 36  total_transactions         1000000 non-null  int64
 37  total_items_purchased      1000000 non-null  int64
 38  total_discounts_received   1000000 non-null  float64
 39  avg_spent_per_category     1000000 non-null  float64
 40  max_single_purchase_value  1000000 non-null  float64
 41  min_single_purchase_value  1000000 non-null  float64
 42  product_name               1000000 non-null  object
 43  product_brand              1000000 non-null  object
 44  product_rating             1000000 non-null  float64
 45  product_review_count       1000000 non-null  int64
 46  product_stock              1000000 non-null  int64
 47  product_return_rate        1000000 non-null  float64
 48  product_size               1000000 non-null  object
 49  product_weight             1000000 non-null  float64
 50  product_color              1000000 non-null  object
 51  product_material           1000000 non-null  object
 52  product_manufacture_date   1000000 non-null  object
 53  product_expiry_date        1000000 non-null  object
 54  product_shelf_life         1000000 non-null  int64
 55  promotion_id               1000000 non-null  int64
 56  promotion_type             1000000 non-null  object
 57  promotion_start_date       1000000 non-null  object
 58  promotion_end_date         1000000 non-null  object
 59  promotion_effectiveness    1000000 non-null  object
 60  promotion_channel          1000000 non-null  object
 61  promotion_target_audience  1000000 non-null  object
 62  customer_zip_code          1000000 non-null  int64
 63  customer_city              1000000 non-null  object
 64  customer_state             1000000 non-null  object
 65  store_zip_code             1000000 non-null  int64
 66  store_city                 1000000 non-null  object
 67  store_state                1000000 non-null  object
 68  distance_to_store          1000000 non-null  float64
 69  holiday_season             1000000 non-null  object
 70  season                     1000000 non-null  object
 71  weekend                    1000000 non-null  object
 72  customer_support_calls     1000000 non-null  int64
 73  email_subscriptions        1000000 non-null  object
 74  app_usage                  1000000 non-null  object
 75  website_visits             1000000 non-null  int64
 76  social_media_engagement    1000000 non-null  object
 77  days_since_last_purchase   1000000 non-null  int64
dtypes: float64(16), int64(24), object(38)
memory usage: 595.1+ MB

##### Изучим за какой период предоставлены данные

In [49]:
display(df.transaction_date.min())
df.transaction_date.max()

'2020-01-01 00:00:21'

'2021-12-31 23:58:32'

##### Кажется логичным изучение с группировкой по пользователю, его характеристикам и активностям
Проверим пользователей на уникальность

In [41]:
display(df.shape[0])
df['customer_id'].nunique()

1000000

1000000

#### Получаем нереалистичную ситуацию, когда за период в два года все пользователи уникальны (при этом у них есть данные об их историческом поведении)

Таким образом, делаем вывод, что скорее всего в данных ошибка и столбец customer_id заполнен автоматически.


Другой возможный вариант - по каждому из юзеров выбрана одна из транзакций (логика такого выбора неизвестна). В случае, если такая ситуация произошла бы в рабочем процессе данный вопрос требовал бы изучения до продалжения работы с данными. В текущей ситуации делаем вывод, что столбец не имеет для изучения смысла и далеее проводим исследования без применения customer_id

#### Проверим оставшиеся данные на уникальность

In [47]:
num_columns = df.shape[0]

for element in df.columns:
    if df[element].nunique() == num_columns:
        display(f'для столбца {element} все данные различаются, этот столбец не имеет смысла для дальнейшего исследования')

'для столбца customer_id все данные различаются, этот столбец не имеет смысла для дальнейшего исследования'

По остальным признакам (столбцам) ситуация отличается от customer_id, то есть можем предположить, что данные несут смысловую нагрузку.

#### В общей сложности в данных имеет 78 колонок признаков объектов.

Данные можно условно разделить на данные, относящиеся:

- непосредственно к покупателю (см. ниже customer_columns)
- к покупкам(транзакциям), магазинам и маркетинговым активностям (см. ниже sale_transactions_columns)
- к поведению покупателя и его предпочтениях (см. ниже customer_activity_columns)
- маркетиноговой активности (см. ниже promotion_columns)

### Принимая во внимание, что:
##### цель работы исследование данных,
##### что исследовать и визуализировать 78 колонок единовремменно не конструктивно
##### что часть данных повторяется многократно (например данные потребителя).

### Принято решение разбить данные на отдельные логически самостоятельные датасеты и изучать их по отдельности

Примечания:
- по мере и в случае необходимости, данные из одного датасета будут обогащаться доп данными из других. Чтобы не перегружать оперативную память,
- по каждому разделу датасеты будут создаваться перед непосредственным исследованием с принудительной очисткой сборщиком мусора всех неиспользуемых переменных (данных)

In [50]:
customer_columns = [
    'age', 'gender', 'income_bracket','loyalty_program',
    'membership_years', 'churned', 'marital_status', 'number_of_children',
    'education_level', 'occupation', 'customer_city', 'customer_state', 'customer_zip_code' 
       
    
]
sale_transactions_columns = [
    'transaction_id', 'transaction_date','product_id', 'product_category',
    'quantity', 'unit_price', 'discount_applied', 'payment_method', 'store_location',
    'transaction_hour', 'day_of_week', 'week_of_year', 'month_of_year', 'last_purchase_date',
    'product_name', 'product_brand', 'product_rating', 'product_review_count', 'product_stock', 
    'product_return_rate', 'product_size', 'product_weight', 'product_color', 'product_material',
    'product_manufacture_date', 'product_expiry_date', 'product_shelf_life', 'promotion_id',
    'distance_to_store',  'holiday_season', 'season', 'weekend', 'days_since_last_purchase',
    'store_zip_code', 'store_city', 'store_state',
]


customer_activity_columns = [
    'avg_purchase_value', 'purchase_frequency', 'avg_discount_used', 'preferred_store', 'online_purchases',
    'in_store_purchases', 'avg_items_per_transaction', 'avg_transaction_value', 'total_returned_items',
    'total_returned_value', 'total_sales', 'total_transactions', 'total_items_purchased', 
    'total_discounts_received', 'avg_spent_per_category', 'max_single_purchase_value', 'min_single_purchase_value',
    'customer_support_calls', 'email_subscriptions', 'app_usage', 'website_visits', 'social_media_engagement',
]

promotion_columns = [
    'promotion_id', 'promotion_type', 'promotion_start_date',
    'promotion_end_date', 'promotion_effectiveness', 'promotion_channel',
    'promotion_target_audience',
    
]


# проверим, что ничего не потеряли
new_columns = set(customer_columns + sale_transactions_columns + customer_activity_columns + promotion_columns)


set(df.columns) - new_columns

{'customer_id'}

#### На данном этапе:
- разделили данные на 4 условно самостоятельных кластера
- проверили, что  остальные данные имеют признаки смысловой нагрузки
- приняли решение, что более подробно будем изучать признаки по столбцам в разделенных датасетах

# 3

# Изучение разделенных данных

## 3.1

[CONTENT](#CONTENT)<br>

## Изучение данных о потребителях

Подготовим датасет с данными потребителей

In [51]:
df = pd.read_csv('../data/retail_data.csv.zip')
сustomers_df = df[customer_columns].drop_duplicates().reset_index(drop=True)

# Удалим исходный df и освободим память вызвав сборщик мусора
del df
gc.collect()

customers_df.head()

,customer_id,age,gender,income_bracket,loyalty_program,membership_years,churned,marital_status,number_of_children,education_level,occupation,customer_city,customer_state,customer_zip_code
0,1,56,Other,High,No,0,No,Divorced,3,Bachelor's,Self-Employed,City D,State Y,37848
1,2,69,Female,Medium,No,2,No,Married,2,PhD,Unemployed,City A,State X,44896
2,3,46,Female,Low,No,5,No,Married,3,Bachelor's,Self-Employed,City B,State X,11816
3,4,32,Female,Low,No,0,No,Divorced,2,Master's,Employed,City A,State Y,78604
4,5,60,Female,Low,Yes,7,Yes,Divorced,2,Bachelor's,Employed,City B,State Z,17760

In [54]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 14 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   customer_id         1000000 non-null  int64
 1   age                 1000000 non-null  int64
 2   gender              1000000 non-null  object
 3   income_bracket      1000000 non-null  object
 4   loyalty_program     1000000 non-null  object
 5   membership_years    1000000 non-null  int64
 6   churned             1000000 non-null  object
 7   marital_status      1000000 non-null  object
 8   number_of_children  1000000 non-null  int64
 9   education_level     1000000 non-null  object
 10  occupation          1000000 non-null  object
 11  customer_city       1000000 non-null  object
 12  customer_state      1000000 non-null  object
 13  customer_zip_code   1000000 non-null  int64
dtypes: int64(5), object(9)
memory usage: 106.8+ MB

# LINKS

[CONTENT](#CONTENT)<br>